<!doctype html>
<html lang="en" class="no-js" xmlns:ng="http://angularjs.org" ng:app>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-10.6/angular-loader-0.10.6.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-10.6/angular-0.10.6.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sampleProductCategories.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
